* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.acme {
    font-family: "Acme";
}

.cinzel {
    font-family: "Cinzel Decorative";
}

.alata {
    font-family: 'Alata';
}

*::-webkit-scrollbar {
    display: none;
}

.slides>li>img {
    object-fit: contain;
    max-width: 1100px;
}

.caption {
    top: 60% !important;
}

.caption>h3 {
    font-size: 2vw;
}

.caption>h5 {
    font-size: 1vw;
}

.slider .indicators .indicator-item.active {
    background-color: #ee6e73;
}


/* News */

.news__box {
    padding: 30px;
}

.news__card {
    margin: 20px;
    padding: 10px;
    border-bottom: 2px solid #ee6e73;
}

.news__desc {
    color: rgb(95, 95, 95);
    text-align: justify;
}

.news__img {
    max-width: 350px;
    object-fit: contain;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}

.footer {
    background-color: #ee6e73 !important;
}

marquee {
    height: 40px;
    font-size: 20px;
}

.news-img {
    max-width: 15vw;
}

/* Home */
.news {
    padding: 20px;
}
.news-box {
    padding: 10px;
    border-right: #ee6e73 solid 2px;
    /* margin: 10px; */
}
.title > h1 {
    font-size: 4vw;
}


/* Media Queries */

@media only screen and (max-width: 780px) {
    .news__img {
        max-width: 180px !important;
    }
    .news__desc {
        font-size: 3vw;
    }
    .news__title {
        font-size: 4vw;
    }
    .title > h1 {
        font-size: 7vw;
    }
    .text__title {
        font-size: 4vw;
    }
    .news-img {
        max-width: 24vw !important;
    }
    .caption > h3 {
        font-size: 5vw;
    }
    .caption > h5 {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 400px) {
    .news__title {
        font-size: 4vw;
    }
    .news__img {
        max-width: 100px !important;
        padding-top: 40px;
    }
}

@media only screen and (max-width: 540px) {
    .news__img {
        max-width: 160px;
    }
    .news__box {
        padding: 10px;
    }
    .caption > h3 {
        font-size: 5vw;
    }
    .caption > h5 {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 1104px) {
    .news__img {
        max-width: 270px;
    }
    .text__desc {
        max-height: 45px !important;
        overflow: hidden;
    }
}